<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>결과 전달</title>
    <link rel="stylesheet" th:href="@{/css/request/resultUpload.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
</head>
<body>
<!-- Header -->
<div th:replace="header :: header"></div>

<div class="container">
    <h2>결과 전달</h2>

    <form th:action="@{/workrequest/resultUpload}" method="post" enctype="multipart/form-data">
        <div class="file-info">
            <label for="fileInput" class="label">산출물</label>
            <input type="file" id="fileInput" name="file" required>
        </div>

        <div class="button-group">
            <button type="submit" class="confirm-button">확인</button>
            <button type="reset" class="cancel-button">취소</button>
        </div>
    </form>
</div>

<!-- Footer -->
<div th:replace="footer :: footer"></div>

<script th:src="@{/js/header.js}"></script>
</body>
</html>
