<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>의뢰 상세 페이지</title>
    <link rel="stylesheet" th:href="@{/css/workrequest/workrequest.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <base href="/" />

<body>

<div th:replace="~{header :: header}"></div>

<main class="container">

    <section class="request-header">
        <div class="left">
            <div class="category" th:text="${request.category}">카테고리</div>
            <div class="title" th:text="${request.title}">제목</div>
            <div class="content">
                <span th:text="'₩' + ${request.price}">가격</span> /
                <span th:text="${request.createdBy}">이름</span>
                <br>
                <span th:text="${request.status}">상태</span>
            </div>
        </div>

        <div class="right">
            <button class="chat-icon" th:data-target-user="${targetUser}">문의하기</button>
            <form th:action="@{/workrequest/{id}/matched(id=${request?.id})}"
                  method="post"
                  id="matchForm">
                <button id="matchButton" data-id="[[${request.id}]]" onclick="submitMatch(this)">수주하기</button>
            </form>
        </div>
    </section>

    <section class="description">
        <p th:text="${request.content}">설명</p>
        <div class="request-image-section">
            <img th:if="${request.fileUrl != null}" th:src="${request.fileUrl}" alt="첨부 이미지" style="max-width: 400px;" />
        </div>
    </section>



    <section class="ai-recommend">
        <h2>AI 추천</h2>
        <div class="experts">
            <div class="expert-card" th:each="expert : ${aiExperts}">
                <a th:href="@{'/expert/' + ${expert.name}}">
                    <img th:src="@{/images/{img}(img=${expert.image})}" alt="전문가 이미지">
                </a>
                <p th:text="${expert.name}">전문가 이름</p>
                <p th:text="${expert.category}">카테고리</p>
                <p th:text="'₩' + ${expert.price}">가격</p>
            </div>
        </div>
    </section>

</main>

<!-- Footer -->
<div th:replace="~{footer :: footer}"></div>
<script>
    const REQUEST_ID = [[${request.id}]];
</script>

<script th:src="@{/js/workrequest/workrequest.js}"></script>
<script th:src="@{/js/header.js}"></script>
<script th:src="@{/js/workrequest/matched.js}"></script>
</body>
</html>