<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>일반 회원 프로필</title>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
</head>
<body>
<div th:replace="~{header :: header}"></div>
<h1>일반 회원 프로필</h1>

<div>
    <label>회원 ID:</label>
    <span th:text="${memberProfile.memberId}"></span>
</div>

<div>
    <label>이메일:</label>
    <span th:text="${memberProfile.email}"></span>
</div>

<form th:action="@{|/expert-profiles/${memberProfile.memberId}/activate|}" method="post">
    <input type="hidden" name="_method" value="patch"/>
    <button type="submit">전문가 프로필 활성화</button>
</form>

<div th:replace="~{footer :: footer}"></div>
<script th:src="@{/js/header.js}"></script>
</body>
</html>